#dependencies
node_modules

#Testing
coverage

#Production build
dist

#API keys
.env

#Working files-used in development
natural language processing.code-workspace
typical_response.js
REQUIREMENTS.md
misc
