<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>NLP Today!</title>
    </head>

    <body>

        <header>
            <div class="headerTitle">
                <h1 class="page_title">Natural Language Processing</h1>    
            </div>
            
            <nav id="nav">
                <div class="nav-link">
                    Home
                </div>
                <div class="nav-link">
                    About
                </div>
             </nav>
        </header>
        <main>
            <section class="input-card">
                <h1>Intro Text </h1>
                <section class="introText">
                    <p>This website processes either <code>text input</code> or a URL (Universal Resource Locator) pointing to a text article.</p>
                    <p>The text will then be analysed by the Meaning Cloud online APIs to determine various factors about it's content.</p>
                </section>
                    <section class="inputform">
                        <form class="form" >
                            <form class="form" onsubmit="return handleSubmit(event)">
                            <div class="switch-table">
                            <div class="switch-table">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="switch-text"><label>Text</label></td>
                                                <td class="switch-text">
                                                    <label class="switch" >
                                                        <input type ="checkbox" id="inputAreaType" onClick="Client.changeInputArea()" value=false>
                                                        <span class="slider round"></span>
                                                    </label>
                                                </td>  
                                            <td class="switch-text">URL</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- <div class="input-box">
                                <div class="inputURL" id="inputURL" >
                                    <button class="button" type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">Analyze URL</button>
                                    <input id="url" type="URL" required  name="input"  placeholder="http://URL-Universal Resource Locator">
                                </div>
                                <div class="inputText" id="inputText" >
                                    <button class="button" type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">Analyze Text</button>
                                    <textarea id="text" type="textarea" rows="4" cols="60" placeholder="Input text"></textarea>
                                </div>
                            </div> -->






                            <!-- <div  > -->
                                <table>
                                    <tbody>
                                        <tr class="inputURL" id="inputURL">
                                            <td><button class="button" type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">Analyze URL</button></td>
                                            <td><input id="url" type="URL" required  name="input"  placeholder="http://URL-Universal Resource Locator"></td>
                                        </tr>
                                        <tr class="inputText" id="inputText">
                                            <td><button class="button" type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">Analyze Text</button></td>
                                            <td><textarea id="text" type="textarea" rows="4" cols="60" placeholder="Input text"></textarea></td>
                                        </tr>
                                    </tbody>
                                </table>
                            <!-- </div> -->
                    </form>
                </section> <!--close input form-->
            </section>
            <!-- <section> --> 
            <section class="results">
                <strong>Form Results:</strong>
                <p id="error"></p>
                <p>The following summary results were obtained for the submitted text/URL</p>
                <table>
                    <tbody>
                        <br>
                        <tr>
                            <td>Agreement Level:&nbsp;</td>
                            <td id="agreement"></td>
                        </tr>
                        <tr>
                            <td>Confidence Level:&nbsp;</td>
                            <td id="confidence"></td>
                        </tr>
                        <tr>
                            <td>Irony Level:&nbsp;</td>
                            <td id="irony"></td>
                        </tr>
                        <tr>
                            <td>Subjectivity Level:&nbsp;</td>
                            <td id="subjectivity"></td>
                        </tr>
                    </tbody>
                </table>
                <p></p>
                <p id="results"></p>
            </section>
        </main>
        <footer>
            <p class="logoText">This website uses the APIs from </p>
            <a href="https://www.meaningcloud.com/">
                <!-- <img src={meaningCloudLogo} alt="meaning cloud logo"> -->
                <img class="logo" src='./img/meaning-cloud-logo.png' alt="meaning cloud logo">
            </a>
        </footer>


    </body>
    <!-- <script>
        function changeInputArea(){
            let currentInput = document.getElementById("switch-text");
            console.log("currentInput" currentInput);
            // let currentShow = document.getElementById("")
        }
    </script> -->
</html>