<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link rel="stylesheet" href="/styles/resets.css">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/form.css">
        <link rel="stylesheet" href="/styles/footer.css">
    </head>

    <body>

        <header>
            <div class="headerTitle">
                Natural Language Processing
            </div>
            <nav>
                <div class="nav">
                    Home
                </div>
                <div class="nav">
                    About
                </div>
             </nav>
        </header>
        <main>
            <section>
                <form class="form" >
                    <!-- <form class="form" onsubmit="return handleSubmit(event)"> -->
                        <div class="">
                            Text<label class="switch" onChange="updateUI()">
                        <input type ="checkbox">
                        <span class="slider round">
                        </span>
                    </label>URL
                </div>
                    
                    <!-- <input type="switch"> -->
                    <!-- <select name="inputType" id="input-type">
                        <option value="">Please select an option</option>
                        <option value="web" onchange="">Web Link</option>
                        <option value="text">Plain Text</option>
                    </select> -->

                    <input id="name" type="URL" required oninvalid="You must type a valid URL!" name="input" value="" onblur="onBlur()" placeholder="http://URL-Universal Resource Locator">
                    <input type="submit" name="" value="submit" onclick="return handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
            <section>

            <section>
                <strong>Form Results:</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
</html>