<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>NLP Today!</title>
    </head>

    <body>

        <header>
            <div class="headerTitle">
                <h1 class="page_title">Natural Language Processing</h1>    
            </div>
            
            <nav id="nav">
                <div class="nav-link">
                    Home
                </div>
                <div class="nav-link">
                    About
                </div>
             </nav>
        </header>
        <main>
            
            <section class="introText">
                <p>Intro Text </p>
                <p></p>
                <section class="inputform">
                    <form class="form" >
                        <!-- <form class="form" onsubmit="return handleSubmit(event)"> -->
                        <div class="switch-table">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="switch-text"><label>Text</label></td>
                                            <td class="switch-text">
                                                <label class="switch" >
                                                    <input type ="checkbox" id="inputAreaType" onClick="Client.changeInputArea()" value=false>
                                                    <span class="slider round"></span>
                                                </label>
                                            </td>  
                                        <td class="switch-text">URL</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="inputURL" id="inputURL" >
                            <table>
                                <tbody>
                                    <tr>
                                        <td><button class="button" type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">Submit URL To Analyze</button></td>
                                        <td><input id="url" type="URL" required  name="input"  placeholder="http://URL-Universal Resource Locator"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="inputText" id="inputText" >
                            <table>
                                <tbody>
                                    <tr>
                                        <td><button class="button" type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">Submit Text To Analyze</button></td>
                                        <td><input id="text" type="textarea" rows="5" cols="60" placeholder="Input text"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                </form>
            </section>
            <!-- <section> --> 
            <section>
                <strong>Form Results:</strong>
                <div id="results"></div>
            </section>
        </main>
        <footer>
            <p class="logoText">This website uses the APIs from </p>
            <a href="https://www.meaningcloud.com/">
                <!-- <img src={meaningCloudLogo} alt="meaning cloud logo"> -->
                <img class="logo" src='./img/meaning-cloud-logo.png' alt="meaning cloud logo">
            </a>
        </footer>


    </body>
    <!-- <script>
        function changeInputArea(){
            let currentInput = document.getElementById("switch-text");
            console.log("currentInput" currentInput);
            // let currentShow = document.getElementById("")
        }
    </script> -->
</html>