@mixin displayShadow($dispersion) {
    box-shadow: 0 5px $dispersion black;
}
$nav-color: #219ebc;
$nav-backg: #ffffff;
$nav-hover:#ffffff;
$nav-hover-backg:#219ebc;

#nav {
    padding: 3vw;
    font-size: 1.5em;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-self: center;
    text-decoration: none;
}

.nav-link {
    text-decoration: none;
    color:  $nav-color;
    padding: 1vw;
    &:hover {
        color: $nav-hover;
        background-color: $nav-hover-backg;
        @include displayShadow(30px);
        // box-shadow: 0 10px 20px #e3170a;
        // box-shadow: 0 10px 20px black;
        border-radius: 5px;
    }

}
